<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
              <property name="host" value="smtp.gmail.com" />
              <property name="port" value="587" />
              <property name="username" value="esothebys2015" />
              <property name="password" value="projektpsi2015" />
              <property name="protocol" value="smtp" />


              <property name="javaMailProperties">
                     <props>
                            <prop key="mail.transport.protocol">smtp</prop>
                            <prop key="mail.smtp.auth">true</prop>
                            <!--<prop key="mail.smtp.ssl.trust">true</prop>-->
                            <!--<prop key="mail.smtp.ssl.enable">true</prop>-->
                            <prop key="mail.smtp.starttls.enable">true</prop>
                            <prop key="mail.debug">true</prop>
                            <!--<prop key="mail.smtp.starttls.enable">true</prop>-->
                     </props>
              </property>
       </bean>

       <bean id="mailMail" class="com.springapp.mailSending.MailMail">
              <property name="mailSender" ref="mailSender" />
       </bean>

</beans>